<!doctype html>
<html lang="{{ language }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ appName }} | {{ pageTitle | default('A Fantasy World') }}</title>
    <meta name="description" content="{{ appName }} | A Fantasy World">
    <meta name="author" content="Zarthus">

    <meta property="og:title" content="{{ appName }}">
    <meta property="og:description" content="The Fantasy World of {{ appName }}">
    <meta property="og:type" content="website">
    {# <meta property="og:image" content=""> #}

    {% include "_partials/favicon.twig" %}

    <link rel="stylesheet" type="text/css" href="{{ asset('style/dark.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('style/icons-bs.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body class="no-js dark">
    {% include "_components/navbar.twig" %}

    {% block content %}{% endblock %}

    {% include "_components/footer.twig" %}

    {% block javascript %}{% endblock %}
</body>
</html>
