<aside class="menu has-scrollbar is-viewheight-75">
    <p class="menu-label">
        {{ bsi('signpost-2') }} Overview
    </p>
    <ul class="menu-list">
        <li><a>{{ bsi('text-left') }} About</a></li>
        <li><a>{{ bsi('terminal') }} Dashboard</a></li>
    </ul>
    <p class="menu-label">
        {{ bsi('globe') }} World
    </p>
    <ul class="menu-list">
        <li><a>{{ bsi('text-left') }} Overview</a></li>
        <li>
            <a>{{ bsi('sunrise') }} Continents</a>
            <ul>
                <li><a>{{ bsi('sun') }} Novitas</a></li>
                <li><a>{{ bsi('star-fill') }} Nosrond</a></li>
                <li><a>{{ bsi('tree-fill') }} Tirine</a></li>
                <li><a>{{ bsi('tornado') }} Visrond</a></li>
            </ul>
        </li>
        <li>
            <a>{{ bsi('shield-fill') }} Races</a>
            <ul>
                <li><a>{{ icon('lorc', 'visored-helm') }} Humanoids</a></li>
                <li><a>{{ icon('kier-heyl', 'elf-helmet') }} Elves</a></li>
                <li><a>{{ icon('kier-heyl', 'dwarf-helmet') }} Dwarves, Gnomes &amp; Halflings</a></li>
                <li><a>{{ icon('lorc', 'battle-axe') }} Orcs</a></li>
                <li><a>{{ icon('lorc', 'dragon-breath') }} Dragonborn</a></li>
                <li><a>{{ icon('lorc', 'daemon-skull') }} Tieflings</a></li>
            </ul>
        </li>
        <li>
            <a>{{ bsi('hammer') }} Gods &amp; Demigods</a>
            <ul>
                <li><a>{{ svg('svgrepo.com', 'novistar-sun', ['icon-novistar']) }} Imilith</a></li>
                <li><a>{{ svg('svgrepo.com', 'novistar-moon', ['icon-novistar']) }} Sumana</a></li>
                <li><a>{{ bsi('stars') }} Fairies &amp; Fae</a></li>
                <li>
                    <a>{{ bsi('shield-fill') }} The Scepters</a>
                    <ul>
                        <li><a>{{ icon('lorc', 'edged-shield') }} Rosa</a></li>
                        <li><a>{{ icon('delapouite', 'vibrating-shield') }} Alder</a></li>
                        <li><a>{{ icon('lorc', 'broken-shield') }} Myris</a></li>
                        <li><a>{{ icon('delapouite', 'dragon-shield') }} Cycas</a></li>
                    </ul>
                </li>
                <li><a>{{ icon('delapouite', 'burning-forest') }} Ashen</a></li>
            </ul>
        </li>
        <li><a>{{ bsi('body-text') }} Languages</a></li>
        <li><a>{{ bsi('book') }} History</a></li>
        <li><a>{{ bsi('calendar') }} Calendar</a></li>
    </ul>
    <p class="menu-label">
        {{ bsi('card-text') }} Lore
    </p>
    <ul class="menu-list">
        <li><a>{{ bsi('card-list') }} Overview</a></li>
        <li><a>{{ bsi('globe2') }} The World</a></li>
        <li><a>{{ bsi('card-image') }} First Age</a></li>
        <li><a>{{ bsi('card-checklist') }} Second Age</a></li>
    </ul>
</aside>
