<aside class="menu has-scrollbar">
    <p class="menu-label">
        {{ icon('signpost-2') }} Overview
    </p>
    <ul class="menu-list">
        <li><a>{{ icon('text-left') }} About</a></li>
        <li><a>{{ icon('terminal') }} Dashboard</a></li>
    </ul>
    <p class="menu-label">
        {{ icon('globe') }} World
    </p>
    <ul class="menu-list">
        <li><a>{{ icon('text-left') }} Overview</a></li>
        <li>
            <a>{{ icon('sunrise') }} Continents</a>
            <ul>
                <li><a>{{ icon('sun') }} Novitas</a></li>
                <li><a>{{ icon('star-fill') }} Nosrond</a></li>
                <li><a>{{ icon('tree-fill') }} Tirine</a></li>
                <li><a>{{ icon('tornado') }} Visrond</a></li>
            </ul>
        </li>
        <li>
            <a>{{ icon('shield-fill') }} Races</a>
            <ul>
                <li><a>{{ icon('person') }} Humanoids</a></li>
                <li><a>{{ icon('person') }} Elves</a></li>
                <li><a>{{ icon('person') }} Dwarves, Gnomes &amp; Halflings</a></li>
                <li><a>{{ icon('person') }} Orcs</a></li>
                <li><a>{{ icon('person') }} Dragonborn</a></li>
                <li><a>{{ icon('person') }} Tieflings</a></li>
            </ul>
        </li>
        <li>
            <a>{{ icon('hammer') }} Gods &amp; Demigods</a>
            <ul>
                <li><a>{{ icon('sunrise-fill') }} Imilith</a></li>
                <li><a>{{ icon('sunset-fill') }} Sumana</a></li>
                <li><a>{{ icon('stars') }} Fairies &amp; Fae</a></li>
                <li>
                    <a>{{ icon('shield-fill') }} The Scepters</a>
                    <ul>
                        <li><a>{{ icon('shield-fill') }} Rosa</a></li>
                        <li><a>{{ icon('shield-fill') }} Alder</a></li>
                        <li><a>{{ icon('shield-fill') }} Myris</a></li>
                        <li><a>{{ icon('shield-fill') }} Cycas</a></li>
                    </ul>
                </li>
                <li><a>{{ icon('triangle-half') }} Ashen</a></li>
            </ul>
        </li>
        <li><a>{{ icon('body-text') }} Languages</a></li>
        <li><a>{{ icon('book') }} History</a></li>
        <li><a>{{ icon('calendar') }} Calendar</a></li>
    </ul>
    <p class="menu-label">
        {{ icon('card-text') }} Lore
    </p>
    <ul class="menu-list">
        <li><a>{{ icon('card-list') }} Overview</a></li>
        <li><a>{{ icon('globe2') }} The World</a></li>
        <li><a>{{ icon('card-image') }} First Age</a></li>
        <li><a>{{ icon('card-checklist') }} Second Age</a></li>
    </ul>
</aside>
